/* Add your CSS to this file */
html{
    
    margin:50px;
}
body {
    margin: 0;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    
    /*font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}


header .container {
    background-color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
 
}

header h1{
 justify-self:start;
 
}
nav{

    justify-self:end;
    padding: 15px;
    margin: 15px;
      
}

nav li{

    display:inline;
    text-align: right;
    
}
nav a {
color: #6b7280;
text-decoration: none;
}

nav a:hover { 
    color: #5A67D8; 
 } 

.overview-hero{
    background-color: #E2E8F0;
    margin: 20px;
    padding:30px;
    height:200px;
}

.overview-hero img{
    float: left;
    margin: 15px;
    padding:15px;
    padding-top:5px ;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;
    width:150px;
    height:150px;
}

.overview-hero-text{
    justify-content: center;
    align-content: center;
    margin:20px;
    padding:20px;
}
.learn-about{
    margin:1px;
    padding:10px;
}

.learn-about h2{
    color: #48BB78;
    font-size: 24px;
}

.cards{
    
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 30px;
    grid-row: 30px;
}
.cards img{
    width:90%;
    height: 225px;
    margin:1px;
    padding:5px
}
.card{
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow:1px 3px rgb(171, 171, 171);
    margin:2px;
    padding:5px;
}

.learn-about h3{
    color:#48BB78;
    font-size: 21px;
}

.testing{
    background-color: #4A5568;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 5px;

}
.testing .container{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 200px;
    grid-row: 30px;
}

.testing-description{
    margin:10px;
    margin-right: 20px;
    padding: 20px;
    
}


/* 
.testing-description{
   justify-content: left;
    text-align: left;
    align-items: left;
    float: left;
    

}*/

.testing a {
    background-color: #48BB78;
    border-radius: 5px;
    padding:10px;
    margin:15px;
    text-decoration: none;

   
    
    
}

.cta{
    
    padding:10px;
    margin-bottom:15px;
    margin-right: 50px;
    margin-left: 1px;
    margin-top: 40px;
}

/*
.cta{
    
    justify-content: right;
    align-items: right;
    float:right;
    display: inline;
}*/

.stories article{
    margin: 5%;
    padding: 5px;
}

.stories h2{
color: #5A67D8;
}

.stories a{
    color: #5A67D8;
 }

.stories h3{
    font-size: 18px;
}
.stories img{
    border-radius: 100%;
    float:left;
    width:200px;
    height: 200px;
    margin:1%;
    padding:5px;
}

.newsletter{
    background-color: #48BB78;
    color:white;
    text-align: center;
    /*justify-content: center;
    align-items: center; */
    margin: 2%;
    padding: 10px;
   
    margin-bottom: 0px;
}

.form-group{
    display: inline;
   

}
.newsletter input{
    padding: 10px;
    margin: 15px;
    margin-right: 0px;
}
.newsletter .btn{
    background-color: #5A67DB;
    display: inline;
    text-decoration: none;
    border: none;
    padding: 10px;
    margin: 15px;
    margin-left: 0px;
}

footer{
    background-color: #4A5568;
    color: white;
    margin: 2%;
    margin-top: 0px;
    padding: 2px;
}
footer p{
    margin: 5px;
    margin-left: 50px;
    padding: 5px;
}